
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color-bg: #1f1f38;
    --color-bg-variant:#5555ff;

    --color-primary: #00b5fd;
    --color-primary-variant: rgba(37, 157, 243, 0.897);
    --color-white: #FFf;
    --color-light: rgba(255, 255, 255, 0.6);
    --container-width-lg: 75%;
--container-width-md: 86%;
--container-width-ms: 90%;    
}
body{
    background-color: var(--color-bg);
    background-size: cover;
    background-image: url("/src/assets/bg-texture.png");

}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: overlay;
  }
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
    height: 0;
    cursor: pointer;
}
::-webkit-scrollbar-thumb{
    background-color: #2c2c6c;
    border-radius: 20px;
    cursor: pointer;
} 
::-webkit-scrollbar-thumb:hover{
    background-color: #59598d;
    border-radius: 20px;
} 

